extends layout 

block content 
    H1 #{title}

    div(id='container')
        div(id="teamCollaboration")
            h3 Team Collaboration
            p Our team collaboration feature allows you to work together with your team members on tasks. 
            ul
                li 
                    a(href='#') Assign tasks to team members
                li 
                    a(href='#') Track the progress of each task
                li 
                    a(href='#') Collaborate with team members
        div(id="taskManagement")
            h3 Task Management
            p Our task management feature allows you to add, edit, and delete tasks. 
            ul 
                li 
                    a(href='#') Add tasks
                li 
                    a(href='#') Edit tasks
                li 
                    a(href='#') Delete tasks
                li 
                    a(href='#') Set due dates for tasks
                li 
                    a(href='#') Mark tasks as completed
        div(id="reporting")
            h3 Reporting
            p Our reporting feature allows you to generate reports on tasks, team performance, and project progress.
            ul 
                li 
                    a(href='#') Generate reports on tasks
                li 
                    a(href='#') Track team performance
                li 
                    a(href='#') Monitor project progress
                li 
                    a(href='#') Export reports in PDF, CSV, and Excel formats